
.custom-filter-modal {
  --width: 92%;
  --height: 85%;
  --border-radius: 20px;
  --background: #ffffff;
  --box-shadow: 0 8px 28px rgba(16, 24, 40, 0.2);
  margin: auto;
}
ion-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.chip-input {
  /* --background: #f7f9fc; */
  --background: #fff;
  --border-radius: 12px;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  border: 1px solid #D1D1D1;
  min-height: 44px;
  border-radius: 10px
}

/* ion-range {
  --bar-background: #e5e7eb;
  --bar-background-active: #184EC9;
  --knob-background: #184EC9;
  --pin-background: #184EC9;
  --pin-color: #fff;
} */
  .custom-range {
  --bar-background: #f1f1f1;
  --bar-background-active: #1a73e8;
  --knob-background: #1a73e8;
  --knob-size: 18px;
  --bar-height: 4px;
}

.section-list {
  .item-title { font-weight: 600; color: #5D5D5D; }
  .item-sub   { color: #6b7280; font-size: 12px; margin: 10px 0; }
  ion-item{
    display: flex !important;
    gap: 10px !important;
  }
}

.filter-footer ion-toolbar {
  --background: #fff;
}
.btn-row {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
}
.btn-row .grow {
  flex: 1;
}

@media (max-width:600px) {
  .btn-row {
  gap: 6px !important;
}
  .btn-row ion-button{
    font-size: 14px !important;
    font-weight: 200 !important;
    color: red;
  }
}