

<ion-header class="shadow-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="font-semibold text-lg">Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="!px-4 !py-3">

    <h3 class="font-semibold text-base !mb-5">Tuition fee</h3>

    <div class="grid grid-cols-2 gap-3 mb-2">

      <div>
        <div class="text-xs text-gray-500 mb-1">Min</div>
        <ion-item lines="none" class="chip-input">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-input placeholder="$50,000" inputmode="numeric"></ion-input>
        </ion-item>
      </div>

      <div>
        <div class="text-xs text-gray-500 mb-1">Max</div>
        <ion-item lines="none" class="chip-input">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-input placeholder="$120,000" inputmode="numeric"></ion-input>
        </ion-item>
      </div>
    </div>

    <ion-range dualKnobs="true" [min]="50000" [max]="120000" [step]="1000" color="primary" class="mb-1">
    </ion-range>
    <div class="flex justify-between text-xs text-gray-500 mb-3">
      <span>50k</span><span>120k</span>
    </div>
  </div>

  <ion-list lines="full" class="section-list">
    <div (click)="institute()">
      <ion-item button detail="false" class="!py-5 !flex !gap-2" >
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label class="!pl-2">
          <h2 class="item-title">Institutes</h2>
          <p class="item-sub">None selected</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>

    <ion-item button detail="false" class="!py-5 !flex !gap-2">
      <ion-icon name="layers-outline" slot="start"></ion-icon>
      <ion-label class="!pl-2">
        <h2 class="item-title">Education Level</h2>
        <p class="item-sub">None selected</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button detail="false" class="!py-5 !flex !gap-2">
      <ion-icon name="flag-outline" slot="start"></ion-icon>
      <ion-label class="!pl-2">
        <h2 class="item-title">Country</h2>
        <p class="item-sub">United States, United Kingdom</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button detail="false" class="!py-5 !flex !gap-2">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label class="!pl-2">
        <h2 class="item-title">Discipline</h2>
        <p class="item-sub">Law, Mathematics</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button detail="false" class="!py-5 !flex !gap-2">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label class="!pl-2">
        <h2 class="item-title">Study Language</h2>
        <p class="item-sub">None selected</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button detail="false" class="!py-5 !flex !gap-2">
      <ion-icon class="!size-5 me-6" name="people-outline" slot="start"></ion-icon>
      <ion-label class="!pl-2">
        <h2 class="item-title">Attendance</h2>
        <p class="item-sub">None selected</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="filter-footer">
  <ion-toolbar>
    <div class="btn-row">
      <ion-button fill="outline" shape="round" size="default" (click)="clearAll()">
        <ion-icon name="reload-outline" slot="start"></ion-icon>
        Clear all
      </ion-button>
      <ion-button shape="round" size="default" class="grow" (click)="apply()">
        View 1024 Results
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
