*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    ion-header {
    padding: 10px !important;
}
.down{
    padding: 15px;
    display: flex !important;
    justify-content: space-around !important;
    
}
ion-title{
    padding: 8px 0 !important;
}
.filter-badge{
    padding: 2px 5px !important;
    border-radius: 50%;
}